<footer class="footer">
    <div class="container">
        <div class="footer-content">

            <div class="footer-brand">
                <h5>SweetStays</h5>
                <p>Your Perfect Stay, Just a Click Away.</p>
            </div>

            <div class="footer-links">
                <a href="/terms">Terms</a>
                <a href="/privacy">Privacy</a>
                <a href="/contact-us">Contact</a>
            </div>

            <div class="footer-socials">
                <a href="#"><i class="fa-brands fa-facebook-f"></i></a>
                <a href="#"><i class="fa-brands fa-instagram"></i></a>
                <a href="#"><i class="fa-brands fa-x-twitter"></i></a>
            </div>

        </div>

        <div class="footer-bottom">
            
            © 2026 Sweetstays. All rights reserved.
        </div>
    </div>
</footer>
