<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/sweetstays" target="_blank"><i class="fa-brands fa-facebook"></i></a>
            <a href="https://www.instagram.com/sweetstays" target="_blank"><i class="fa-brands fa-instagram"></i></a>
            <a href="https://www.twitter.com/sweetstays" target="_blank"><i class="fa-brands fa-twitter"></i></a>
        </div>
        <div class="f-info-brand">&copy;SweetStays Private limited</div>  
        <div class="f-info-links">
            <a href="/privacy">Terms of Service</a>
            <a href="/terms">Privacy Policy</a>
            <a href="/contact-us">Contact Us</a>
        </div> 
    </div>
</footer>