<nav class="navbar navbar-expand-md bg-body-light border-bottom sticky-top">
  <div class="container-fluid">
    <a class="navbar-brand" href="/listings"><i class="fa-regular fa-compass"></i> Explore</a>
    <button 
        class="navbar-toggler" 
        type="button" 
        data-bs-toggle="collapse" 
        data-bs-target="#navbarNavAltMarkup" 
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <!-- Airbnb Style Search Bar -->
      <div class="airbnb-search-container">
        <form action="/listings" method="GET" class="airbnb-search-form">
          <input type="hidden" name="filter" value="locations">
          <div class="search-input-group">
            <div class="search-item where-section">
              <input 
                type="text" 
                id="search-where" 
                name="location" 
                placeholder="Search destinations" 
                class="search-input"
              />
            </div>
            <button type="submit" class="search-button">
              <i class="fa-solid fa-magnifying-glass"></i>
            </button>
          </div>
        </form>
      </div>
      
      <div class="navbar-nav ms-auto">
        <a class="nav-link" href="/listings/new">Become a Host</a>
        <% if (!currentUser) { %>
        <a class="nav-link"  href="/signup"><b>Signup</b></a>
        <a class="nav-link" href="/login"><b>Login</b></a>
        <% } else { %>
        <a class="nav-link" href="/logout"><b>Logout</b></a>
        <% } %>
      </div>
    </div>
  </div>
</nav>