body {
    font-family: 'Plus Jakarta Sans', sans-serif !important;
    background-color: #f8f9fa;
    margin: 0;
    padding: 0;
    display:flex;
    flex-direction: column;
    min-height: 100vh;
}

.navbar {
    height: 5rem;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.fa-compass {
    font-size: 2rem;
    color: red;
}

.nav-link {
    font-size: 1.2rem;
    color: #222222 !important;
    margin-right: 1rem;
}

.footer {
    height: 5rem;
    background-color: #222222;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #555555;
}

.f-info-links a:hover{
    text-decoration: underline;
}

.f-info-links {
    width: 100%;
    display: flex;
    justify-content: center;    
    align-items: center;
    gap: 2rem;                   
    font-size: 1rem;
    color: #555555;
    padding: 0.8rem 0;
    flex-wrap: wrap;           
}
.f-info-socials, .f-info-brand{ 
    color: #555555;
    width: 100%;
    font-size: 1.1rem;
    margin-right: 1rem;
    vertical-align: middle;
    display: flex;
    align-items: center;
    justify-content: center;
    
}   

.f-info-socials i{
    margin-right: 1rem;
    color: #555555;
}


.f-info{
    text-align: center;
    display: flex;
    gap: 1rem;
    font-size: 1.1rem;
    display: flex;
    flex-wrap: wrap;
    background-color: aliceblue;
    justify-content: center;
    align-items: center;
}

.card{
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border: none !important;
    overflow: hidden;
    margin-bottom: 2rem;
    transition: transform 0.2s;
}

.card-img-top {
    height: 200px;
    border-radius: 1rem !important;
    width: 100%;
    object-fit: cover;
    transition: opacity 0.3s ease;
}

.card-body {
    padding: 0 !important;
}

.card-text p{
    font-weight: 400 !important;
    
}

.listing-link{
    text-decoration: none !important;
    color: inherit !important;
}

.card-img-overlay {
    opacity: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 1rem !important;
    background-color: transparent !important;
}

.card:hover .card-img-top {
    opacity: 0.7;
}

.add-btn{
    background-color: red;
    border: none !important;
}

.edit-btn{
    background-color: red;
    border: none !important;
    color: white !important;
}

.show-img{
    height: 400px;
    width: 100%;
    object-fit: cover;
}